body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

p {
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}

header {
/*    background-image: url("../img/bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
    padding: 235px 0;
/*    margin-bottom: 60px;
    background-attachment: fixed;
    background-size: 100% 100%;*/
}

.header-content h1 {
    color: #fff;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
}

.header-content h4 {
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 1px #333;
}

.single-page-nav {
    text-align: center;
}

.navbar-inverse {
    background-color: #383e4c;
    /*border-color: #383E4C;*/
}

.navbar-inverse .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-inverse .navbar-nav>li {
    padding: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    background: #383e4c none no-repeat scroll 0 0;
    border: 1px solid #646d7c;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 25px;
    text-transform: capitalize;
}

.navbar-inverse .navbar-nav>li>a.current,
.navbar-inverse .navbar-nav>li>a:hover {
    background: #49505f;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-inverse .navbar-nav>li {
        padding: 6px;
    }

    .navbar-inverse .navbar-nav>li>a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-inverse {
        background: none;
        border: none;
    }

    .navbar-inverse .navbar-toggle {
        background-color: #333333;
    }

    .navbar-inverse .navbar-nav {
        width: 100%;
        margin: 0;
    }

    .navbar-inverse .navbar-nav>li {
        border-bottom: 1px solid #999999;
        padding: 0;
    }

    .navbar-inverse .navbar-nav>li:last-child {
        border-bottom: none;
    }

    .navbar-inverse .navbar-nav>li>a {
        font-size: 16px;
        background: none;
        border: none;
        padding: 10px 0;
    }

    .navbar-inverse .navbar-nav>li>a.focus,
    .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #383e4c;
    }

    .single-page-nav {
        background-color: #383e4c;
        max-height: 0;
        overflow: hidden;
    }

    .single-page-nav.show {
        max-height: 250px;
        overflow: auto;
    }

}