body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

.single-page-nav {
    text-align: center;
}

.navbar-inverse {
    background-color: #383e4c;
    border-color: #383e4c;
}

.navbar-inverse .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-inverse .navbar-nav>li {
    padding: 10px;
}

.navbar-inverse .navbar-nav>li>a {
    background: #383e4c none no-repeat scroll 0, 0;
    border: 1px solid #646d7c;
    color: #ffffff;
    font-size: 20px;
    padding: 15px 25px;
}

.navbar-inverse .navbar-nav>li>a.current,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #49505f;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-inverse .navbar-nav>li {
        padding: 6px;
    }

    .navbar-inverse .navbar-nav>li>a {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 767px) {
    .navbar-inverse {
        background: none;
        border: none;
    }

    .navbar-inverse .navbar-toggle {
        background-color: #333333;
    }

    .navbar-inverse .navbar-nav {
        width: 100%;
        margin: 0;
    }

    .navbar-inverse .navbar-nav>li {
        border-bottom: 1px solid #999999;
        padding: 0;
    }

    .navbar-inverse .navbar-nav>li:last-child {
        border-bottom: none;
    }

    .navbar-inverse .navbar-nav>li>a {
        border: none;
        background: none;
        font-size: 16px;
        padding: 10px 0px;
    }

    .navbar-inverse .navbar-nav>li>a:focus,
    .navbar-inverse .navbar-nav>li>a:hover {
        background-color: #383e4c;
    }

    .single-page-nav {
        background-color: #383e4c;
        
    }

    .single-page-nav .show {}
}